body {
  margin: 0;
  padding: 0;
  background-color: #123159;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.App {
  margin: 2rem;
}

.App-header {
  margin: 3rem;
}

.upperHalf {
  display: flex;
}

.formyform {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
}

.formyformyform {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
}

.inputArea {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.inputArea2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: right;
}

.inputArea2 label {
  color: black;
}

label {
  margin: 0.5rem;
  color: whitesmoke;
}

input {
  margin: 0.5rem;
  width: 17rem;
  height: 3rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

select {
  margin: 0.5rem;
  width: 17.5rem;
  height: 3rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  margin: 0.5rem;
  width: 17rem;
  height: 5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonBox {
  display: flex;
  justify-content: flex-end;
}

.sendButton {
  margin: 0.5rem;
  width: 17.5rem;
  height: 3rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4d5c28;
  border: none;
  color: whitesmoke;
  box-shadow: inset 0 0 7px #333b1f, inset 0 0 12px #2f361d;
  transition: 0.5s;
}

.sendButton:active {
  transform: translateY(4px);
  transition: 0.5s;
  box-shadow: inset 0 0 10px #292f1a, inset 0 0 16px #242917;
}

.paperArea {
  margin-left: 3rem;
  background-color: white;
  width: 60vw;
  height: 475px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px black, 0 0 10px black;
}

.paperArea::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 70px;
  background-color: rgba(255, 0, 0, 0.6);
}

.vertical {
  height: 100%;
  background-image: repeating-linear-gradient(
    transparent 0px,
    transparent 34px,
    rgb(13, 170, 255) 36px
  );
}

.firstP {
  padding-top: 3.2rem;
}

.paperArea p {
  font-size: 1.4rem;
  margin-left: 5rem;
  line-height: 0.8rem;
}

.paperArea span {
  font-family: "Architects Daughter", cursive;
}

.overlay {
  /* visibility: hidden; remove because it won't render when using state */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay2 {
  /* visibility: hidden; remove because it won't render when using state */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.9);
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWindow {
  background-color: white;
  padding: 0.5rem 2rem;
  width: 42%;
  height: 52%;
  border-radius: 5px;
  position: relative;
}

.modalWindow h2 {
  font-size: 2.5rem;
}

.modalWindow2 {
  background-color: white;
  padding: 0.5rem 2rem;
  width: 30%;
  height: 52%;
  border-radius: 5px;
  position: relative;
}

.modalWindow2 h2 {
  font-size: 2.5rem;
}

.buttonArea {
  display: flex;
  justify-content: space-around;
}

.imSure {
  margin-top: 1rem;
  height: 3rem;
  width: 25rem;
  background-color: #4d5c28;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
}

.imSure:hover {
  box-shadow: 0 0 5px #000000;
}

.notSure {
  margin-top: 1rem;
  height: 3rem;
  width: 25rem;
  background-color: transparent;
  color: rgb(35, 35, 35);
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
}

.notSure:hover {
  margin-top: 1rem;
  height: 3rem;
  width: 25rem;
  background-color: #4d5c28;
  color: whitesmoke;
  box-shadow: 0 0 5px #000000;
}

.modalContent p {
  margin-top: 2.1rem;
  font-size: 1rem;
}

.modalContent2 p {
  margin-top: 2.1rem;
  font-size: 1rem;
}

.dataDiv {
  background-color: aliceblue;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
}

.delButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
